* {
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
  border: calc(1 / 16 * 1rem) solid red;
}

html {
  scroll-behavior: smooth;
  background-image: url("./imgs/dipinto-background.png");
  background-size: cover;
  background-position: center center;
}

body {
  background-image: url("./imgs/pergamena-sfondo.png");
  background-repeat: repeat;
  background-clip: padding-box;

  border-width: 1rem;
  border-style: solid;
  border-image-source: url("./imgs/pergamena-lati.png");
  border-image-slice: 116 102;
  border-image-repeat: repeat;

  padding: 2rem;
  margin: 2rem auto;

  width: 50rem;
}

body section {
  color: #4a4a4a;
  mix-blend-mode: multiply;
  filter: contrast(0.75) drop-shadow(0.01rem 0.01rem 0.01rem black) sepia(0.4);
  opacity: 0.8;
}

a {
  color: red;
}

.ultimo-paragrafo {
  margin: 0;
}

.testo-destra {
  text-align: right;
}

.sezione-flex-immagine {
  display: flex;
  justify-content: space-between;
}

.sezione-flex-immagine img {
  margin: 0 auto;
  height: auto;
}

.sezione-flex-immagine div {
  width: 60%;
}

.sezione-flex-immagine p {
  margin-top: 0;
}

.divisione-orizzontale-paragrafi {
  padding: 0;
  margin: 1rem auto;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.divisione-orizzontale-paragrafi li {
  height: 10rem;
  border: 0.05rem solid #4a4a4a;
  align-self: center;
}

.divisione-orizzontale-paragrafi .contiene-contenuto {
  height: 100%;
  width: 25%;
  border: none;
  align-self: flex-start;
}

/* HEADER DEL SITO */
#header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#header h1 {
  width: 60%;
  font-size: 5rem;
}

#header img {
  width: 15rem;
  height: auto;
}

/* SEZIONE INTRODUZIONE */
#introduzione h2 {
  margin: 0;
}

/* SEZIONE TEORIA MIASMI */
#lista-liquidi {
  width: 90%;
  padding: 0;
  margin: 1rem auto;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#lista-liquidi li img {
  width: 5rem;
  display: block;
  margin: 0 auto;
}

#lista-liquidi li p {
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

/* SEZIONE PENSIERO MAGICO */
#prima-sezione-pensiero-magico {
  width: 75%;
}

#seconda-sezione-pensiero-magico {
  width: 75%;
}

/* SEZIONE VIROLOGIA MODERNA */
#lista-virologia-moderna li {
  height: 6rem;
}

#lista-virologia-moderna .contiene-contenuto {
  height: 100%;
}
